.guideTitle {
  background-color: #ebebeb;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 18%;
  margin-right: 18%;
  padding: 18px;
  padding-left: 40px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 5px 5px 15px #b1b1b1;
  border-radius: 15px;
}
